<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Progetto</display-name>
  <welcome-file-list>
    <welcome-file>Registrazione.html</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/american</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>ClienteLogin</servlet-name>
    <servlet-class>serverlet.ClienteLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClienteLogout</servlet-name>
    <servlet-class>serverlet.ClienteLogout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StampaBiglietto</servlet-name>
    <servlet-class>serverlet.StampaBiglietto</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AcquistoBiglietto</servlet-name>
    <servlet-class>serverlet.AcquistoBiglietto</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FilmTrailer</servlet-name>
    <servlet-class>serverlet.FilmTrailer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProiezioniDay</servlet-name>
    <servlet-class>serverlet.ProiezioniDay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmTrailer</servlet-name>
    <url-pattern>/filmTrailer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClienteLogout</servlet-name>
    <url-pattern>/clienteLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaBiglietto</servlet-name>
    <url-pattern>/stampaBiglietto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AcquistoBiglietto</servlet-name>
    <url-pattern>/biglietti</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProiezioniDay</servlet-name>
    <url-pattern>/proiezioniDay</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Log</servlet-name>
    <servlet-class>serverlet.LogAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  
  
      <servlet>
    <servlet-name>ConfermaAcquisto</servlet-name>
    <servlet-class>serverlet.ConfermaAcquisto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfermaAcquisto</servlet-name>
    <url-pattern>/confermaAcquisto</url-pattern>
  </servlet-mapping>
  
  
       <servlet>
    <servlet-name>CambiaPrezzo</servlet-name>
    <servlet-class>serverlet.CambiaPrezzo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiaPrezzo</servlet-name>
    <url-pattern>/cambiaPrezzo</url-pattern>
  </servlet-mapping>

  
  
</web-app>